<script lang="ts">
    import { foods, eaten } from './foods.svelte'

    const parseLine = (line: string) => {
        const matchResult = line.match(/^([\d,\.]*)\s*(.*)$/)
        const [, amount, thing] = matchResult ? matchResult : [, '', '']
        return {
            amount: parseNumber(amount),
            thing: thing.trim(),
        }
    }

    const parseNumber = (value: string, fallback = 0) => {
        const num = Number.parseFloat(value)
        return Number.isNaN(num) ? fallback : num
    }

    const not =
        <T,>(fn: (inp: T) => boolean) =>
        (inp: T) =>
            !fn(inp)
    const isEmptyString = (str: string) => !str.length
    const isComment = (line: string) => {
        line = line.trim()
        return line.startsWith('--') || line.startsWith('#') || line.startsWith('//')
    }

    let result = $derived.by(() => {
        const parsedFoods = foods.value
            .split('\n')
            .filter(not(isEmptyString))
            .filter(not(isComment))
            .map(parseLine)

        const sum = parsedFoods.reduce(
            (sum: number, current: { amount: number }) => sum + current.amount,
            0,
        )

        return parsedFoods.map(({ amount, thing }: { amount: number; thing: string }) => ({
            amount: (amount / sum) * eaten.value,
            thing,
        }))
    })
</script>

<textarea bind:value={foods.value} style="width:500px; height:500px;"></textarea>
<br />
Eaten: <input type="number" min="0" bind:value={eaten.value} /> g

<table>
    <tbody>
        {#each result as { amount, thing }, i (i)}
            <tr>
                <td style="text-align: right; padding-right:10px">
                    <span class="click-select">{amount.toFixed(2)}</span> g</td
                >
                <td>{thing}</td>
            </tr>
        {/each}
    </tbody>
</table>
